{% extends "base.html" %}

{% block body %}

<main class="flex-shrink-0">
    <div class="bg-light p-5 rounded">
        {% if session['user_id'] %}
        <h2 class="inter-semibold">Find Matches</h2>
        <p class="inter-regular">Here are your matches:</p>
        <div class="album py-5 bg-light">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                {% for user in matches %}
                <div class="col">
                    <div class="card shadow-sm">
                        {% if user.gender == 'Female' %}
                        {% set image_number = loop.index % 5 + 1 %}
                        <img src="{{ url_for('static', filename='images/female/' ~ image_number ~ '.jpg') }}"
                            class="card-img-top" alt="...">
                        {% else %}
                        {% set image_number = loop.index % 5 + 1 %}
                        <img src="{{ url_for('static', filename='images/male/' ~ image_number ~ '.jpg') }}"
                            class="card-img-top" alt="...">
                        {% endif %}

                        <div class="card-body">
                            <h5 class="inter-medium">{{ user.name }}</h5>
                            <p class="card-text inter-regular">
                                <strong>Gender:</strong> {{ user.gender }}<br>
                                <strong>Interests:</strong> {{ user.interests }}
                            </p>
                            <!-- <a href="{{ url_for('profile', user_id=user.id) }}" class="btn btn-primary">View Profile</a>  -->
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>


        </div>
    </div>

    <!-- <ul>
            {% for user in users %}
            <li><a class="inter-regular" href="{{ url_for('profile', user_id=user.id) }}">{{ user.name }}</a></li>
            {% endfor %}
        </ul> -->
    {% else %}
    <div class="text-center">
        <h1 class="salsa-regular">Welcome to the School Dating App</h1>
        <p class="inter-regular">Please <a href="{{ url_for('login') }}">login</a> or <a
                href="{{ url_for('register') }}">register</a> to view profiles.</p>
        <img src="../static/images/picture.png" id="picture" alt="Two people">
    </div>
    {% endif %}
    </div>
</main>

{% endblock %}