{% extends "base.html" %}

{% block body %}
<main class="flex-shrink-0">
    <div class="bg-light p-5 rounded form-signin">
        <h2 class="inter-semibold">Registration</h2>
        <p class="inter-regular"> For existing members, please go to the <a href="{{ url_for('login') }}">Login</a>
            page.</p>
        <form method="POST" action="{{ url_for('register') }}" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name" class="inter-regular">Name:</label>
                <input type="text" class="form-control inter-regular" id="name" name="name" placeholder="" required>
            </div>

            <div class="form-group">
                <label for="username" class="inter-regular">Username:</label>
                <input type="text" class="form-control inter-regular" id="username" name="username" placeholder=""
                    required>
            </div>

            <div class="form-group">
                <label for="email" class="inter-regular">Email:</label>
                <input type="email" class="form-control inter-regular" id="email" name="email"
                    placeholder="you@example.com">
            </div>

            <div class="form-group">
                <label for="gender" class="inter-regular">Gender:</label>
                <select class="form-select inter-regular" id="gender" name="gender" required>
                    <option value="">Choose...</option>
                    <option>Female</option>
                    <option>Male</option>
                    <option>Others</option>
                </select>
            </div>

            <div class="form-group">
                <label for="age" class="inter-regular">Age:</label>
                <input type="number" class="form-control inter-regular" id="age" name="age" required>
            </div>

            <div class="form-group">
                <label for="course" class="inter-regular">Course:</label>
                <select class="form-select inter-regular" id="course" name="course" required>
                    <option value="">Choose...</option>
                    <option>Business, Communication and Design</option>
                    <option>Engineering</option>
                    <option>Food, Chemical and Biotechnology</option>
                    <option>Health and Social Sciences</option>
                    <option>Information Technology</option>
                </select>
            </div>

            <div class="form-group">
                <label for="interests" class="inter-regular">Interests:</label>
                <input type="text" class="form-control inter-regular" id="interests"
                    placeholder="Separate each interest with a comma" name="interests" required>
            </div>

            <div class="form-group">
                <label for="password" class="inter-regular">Password:</label>
                <input type="password" class="form-control inter-regular" id="password" name="password" placeholder=""
                    required>
            </div>

            <div class="form-group">
                <label for="confirmpassword" class="inter-regular">Confirm Password:</label>
                <input type="password" class="form-control inter-regular" id="confirmpassword" name="confirmpassword"
                    placeholder="" required>
            </div>

            <label for="user_card_image">User Card Image:</label>
            <input type="file" name="user_card_image" id="user_card_image" required><br>

            <button class="w-100 btn btn-lg btn-primary inter-regular" type="submit">Register</button>
        </form>
    </div>
</main>


{% endblock %}